<style>


.HOL {
  background-color: yellow;
}

.MIS {
  background-color: wheat;
}

.H a {
    background-color: white;
    color: white !important;
  }
  
.BYE {
  background-color: grey;
}
.TEA {
  background-color: blueviolet;
}
.PUP {
  background-color: pink;
}

.EVT {
  background-color: lightseagreen;
}


.CHG {
  background-color: pink;
}


.XXX {
    background-color: red;

  }

div {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0;
}



</style>
